@model GreenCap.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Dashboard is comming soon...";
}

<div class="jumbotron">
    <h1 class="text-center text-primary display-3">@ViewData["Title"]</h1>
</div>