@using GreenCap.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to @GlobalConstants.SystemName!</h1>
    <p class="text-muted">Keep it green! </p>
    <hr class="my-4">
    <p class="text-muted">Prepare yourself to join our family and to become even more environmental friendly than before. You can share your creative ideas or to discuss a problem in the forum. It's up to you!</p>
    <p class="lead">
        <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>