@using GreenCap.Web.ViewModels.OutputViewModel
@{
    this.ViewData["Title"] = "Latest news "+Model.PageNumber;
}

@model NewsListOutputViewModel

<div class="jumbotron text-center">
    <h1 class="text-primary display-4">Latest news around the world! <a href="https://phys.org/biology-news/ecology/sort/date/all/" target="_blank" class="alert-link">Click here!</a></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12">
            <h6 class="text-muted">All articles</h6>
            <ul class="list-group">
                @foreach (NewsOutputViewModel article in this.Model.NewsList)
                {
                    <a href="/News/Details?id=@article.Id" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div class="image-parent m-4">
                                <img src=@article.ImageSmallUrl alt="quixote">
                            </div>
                            <div class="flex-column text-info">
                                @article.Title
                                <p><small class="text-muted">@article.Summary </small></p>
                                <!--<span class="badge badge-info badge-pill"> 2 Copies in Stock</span>-->
                            </div>
                    </a>
                }
            </ul>
        </div>
    </div>
</div>

<partial name="_PagingPartial" model="@Model" />