<article class="g-mb-20 clearfix">
    <div class="g-pos-rel px-2">
        <h3 class="h5">
            <a class="u-link-v5 g-color-black g-color-primary--hover" href="/News/166302/informacionen-byuletin-10-noemvri-2020">
                <span title="Министерство на вътрешните работи - Информационен бюлетин">МВР:</span>
                Информационен бюлетин - 10 ноември 2020
            </a>
        </h3>
        <div class="media">
            <a class="d-flex mr-2">
                <img class="rounded g-width-100 g-height-60" src="/images/sources/mvr.bg.jpg" alt="МВР" title="Информационен бюлетин - 10 ноември 2020">
            </a>
            <p class="g-color-gray-dark-v4 text-justify mb-2">
                София-област. 36-годишен е задържан след предложен подкуп от 100 евро. Около 8.30 часа вчера полицейски служители от РУ-Костинброд докладвали в оперативната дежурна част за предложен им подкуп. На ул. „Ломско шосе“ служителите от автоп...
            </p>
        </div>
        <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mb-10">
            <li class="list-inline-item">
                <span class="g-font-size-13">
                    <a href="https://www.mvr.bg/press/актуална-информация/актуална-информация/информационен-бюлетин/преглед/информационен-бюлетин/информационен-бюлетин---10-ноември-2020" target="_blank">Министерство на вътрешните работи - Информационен бюлетин</a>
                </span>
            </li>
            <li class="list-inline-item ml-auto">
                <span class="g-color-gray-dark-v5">вт, 10 ное 2020 16:46</span>
            </li>
        </ul>
    </div>
</article>