@using GreenCap.Common
@using GreenCap.Web.ViewModels.InputViewModels
@model EventInputViewModel

@{
    this.ViewData["Title"] = "Create event";
}

<div class="jumbotron">
    <h1 class="display-3">Create your own event! </h1>
    <p class="lead">If you have and idea to create your own event thats the right place to do it! We will contact you later to cofirm that the event is real and will make it visible to everyone. </p>
    <hr class="my-4">
    <form method="post">
        <fieldset>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control  col-4" placeholder="Event name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImagePath"></label>
                <input asp-for="ImagePath" type="text" class="form-control  col-md-4" placeholder="Image URL">
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control  col-md-4">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"></label>
                <input asp-for="EndDate" class="form-control  col-md-4">
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TotalPeople">Number</label>
                <input asp-for="TotalPeople" class="form-control  col-md-4" type="number" max="100" min="0" value="1">
            </div>

            <div class="form-group">
                <label asp-for="CreatorsNames"></label>
                <textarea asp-for="CreatorsNames" class="form-control" rows="2" placeholder="Separate with space, comma or slash other hosts names "></textarea>
                <span asp-validation-for="CreatorsNames" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Share in details about the event."></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-info">Submit</button>
        </fieldset>
    </form>
</div>