<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#health">Health</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ecology">Ecology</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#exercise">Exercise</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#onvirment">Envirment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#other">Other</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade" id="health">
        <p>Health</p>
    </div>
    <div class="tab-pane fade" id="ecology">
        <p>Ecology</p>
    </div>
    <div class="tab-pane fade" id="exercise">
        <p>Exercise</p>
    </div>
    <div class="tab-pane fade" id="Envirment">
        <p>Envirment</p>
    </div>
    <div class="tab-pane fade active show" id="other">
        <br />
        <!--foreach-->
        <!--if category-->
        <div class="card text-white bg-success">
            <div class="card-header">
                Username- Posted on
                <i class="fas fa-thumbs-up"></i>
                <i class="fas fa-thumbs-down"></i>
            </div>
            <div class="card-body">
                <h3 class="card-title">Title</h3>
                <p class="card-text">Description</p>
            </div>
        </div>
        <br />
    </div>
</div>