@using GreenCap.Common
@{
    this.ViewData["Title"] = "Create post";
}

<div class="jumbotron">
    <h1 class="display-3">Do you have a problem? </h1>
    <p class="lead">Tell us in details what is your problem. Shared it with our community to get the best ideas! </p>
    <hr class="my-4">
    <form>
        <fieldset>
            <div class="form-group">
                <label for="InputProblem">Problem</label>
                <input type="text" class="form-control" id="ProblemNameArea" placeholder="Problem name" name="ProblemName">
            </div>

            <div class="form-group">
                <label for="CategorySelect">Select category</label>
                <select class="form-control" id="CategorySelect" name="Category">
                    <option>Health</option>
                    <option>Ecology</option>
                    <option>Exercise</option>
                    <option>Envirment</option>
                    <option>Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="InputDescrption">Description</label>
                <textarea class="form-control" id="DescriptionProblemArea" rows="3" placeholder="Share your problem here." name="Description"></textarea>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </fieldset>
    </form>
</div>