@using GreenCap.Common
@{
    this.ViewData["Title"] = "Latest posts";
}

<br />
<!--foreach-->
<!--if category-->
<!--set color for different categories-->
<div class="card text-white bg-success">
    <div class="card-header">
        Username- Posted on
        <i class="fas fa-thumbs-up"></i>
        <i class="fas fa-thumbs-down"></i>
    </div>
    <div class="card-body">
        <h3 class="card-title">Title-General</h3>
        <p class="card-text">Description</p>
    </div>
</div>


<br />
<!--foreach-->
<!--if category-->
<!--set color for different categories-->
<div class="card text-white bg-info">
    <div class="card-header">
        Username- Posted on
        <i class="fas fa-thumbs-up"></i>
        <i class="fas fa-thumbs-down"></i>
    </div>
    <div class="card-body">
        <h3 class="card-title">Title-Envirment</h3>
        <p class="card-text">Description</p>
    </div>
</div>

<!--out of foreach-->
<br />

<div>
    <ul class="pagination pagination-lg">
        <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">&raquo;</a>
        </li>
    </ul>
</div>