@model GreenCap.Data.Models.Post

@{
    ViewData["Title"] = "Create post, Admin view";
}

<div class="jumbotron">
    <h1 class="text-center display-3">@ViewData["Title"]</h1>
</div>

<div class="container bg-gradient-info text-dark">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProblemTitle" class="control-label"></label>
                    <input asp-for="ProblemTitle" class="form-control" />
                    <span asp-validation-for="ProblemTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedById" class="control-label"></label>
                    <select asp-for="CreatedById" class="form-control" asp-items="ViewBag.CreatedById"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="Category" class="form-control"></select>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="DeletedOn" class="control-label"></label>
                    <input asp-for="DeletedOn" class="form-control" />
                    <span asp-validation-for="DeletedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input asp-for="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedOn" class="control-label"></label>
                    <input asp-for="ModifiedOn" class="form-control" />
                    <span asp-validation-for="ModifiedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-info btn-lg m-2" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
